// VARIABLES ------------------------------------ /

$white: #fff;

$color-primary: #70eabd;
$color-paragraph: #515151;
$color-border: #cccccc;
$color-success: #22c125;
$color-error: #b73e5c;
$color-warning: #bc6807;
$color-info: #87529e;
$color-link: #78b1ed;

$color-col-3: #e795ed;
$color-col-4: #83d4f7;
$color-col-5: #01a51a;
$color-col-6: #1075a0;
$color-col-7: #db6f6f;
$color-col-8: #bc6807;

$font-stack-primary: 'Roboto', sans-serif;
$font-stack-secondary: 'Montserrat', sans-serif;

// Breakpoint --------------------------------- /
$breakpoint-mid: 769px;
$max-width-sm: 800px;
$max-width-lg: 900px;
